{% extends "news/layout/base.html" %}
{% load static %}

{% block category %}
<div class="mt-3 mr-3 float-right" id="cat-nav">
  <p><h8>Все новости</h8></p>
</div>


{% endblock %}


{% block content %}

{% for n in news %}
<div class="col mb-2">
  <div class="card ml-4" style="width: 18rem;">
  <img src="{{ n.media }}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">{{ n.title }}</p>
    <p class="card-text"><h8><a href="{% url 'by_category' n.category.pk %}" id="category_news">{{ n.category }}</a></h8></p>
    <details>
      <summary class="mb-2" id="details">Подробнее</summary>
          <p id="description"><h8>{{ n.description }}</h8></p>
    </details>
    <p class="card-text">{{n.published|timesince }} назад</p>
  </div>
</div>
</div>

{% endfor %}

{% endblock %}